html { 
    background: url("img/nubelson-fernandes-iE71-TMrrkE-unsplash.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    scroll-behavior: smooth;
  }
*{
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

#logo{
    width: 6.4rem;
    height: auto;
}
#nav-bar{
    width: 100%;
    height: 6.4rem;
    background-color: rgba(214, 206, 206, 0.375);
    position: fixed;
    top: 0;
    left: 0;
}

#nav-list{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    gap: 8rem;
    list-style : none;
    margin-right: 3rem;
}
.nav-item{
    font-size: 2.4rem;
    color: snow;
    font-family: 'Montserrat';
    font-weight: 600;
    position: relative;
    top: -5rem;
}
#separator,#separator2{
    height: 10rem;
    margin-bottom: 10rem;
    width: 20rem;
    background-color: transparent;
    
}
#about{
    width: 100%;
    height : 42rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.glow-on-hover{
    grid-area:  3 / 2 / 4 / 3 ; 
    width: 250px;
    height: 50px;
    border-radius: 15px;
    border: none;

    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    font-size:2rem;
    font-family: sans-serif;
    box-shadow: 0 0 3rem snow;
}
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}
.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
h1{
    font-size: 4.8rem;
    color: snow;
    font-family: 'Fira Sans';
    grid-area: 1 / 2 / 2 / 4;
    text-shadow: 3px 2px 4px #121212;
}
h2{
    font-size: 3.6rem;
    color: snow;
    font-family: 'Open Sans';
    text-shadow: 3px 2px 4px #121212;
}
h3{
    color: #121212;
    font-size: 2.4rem;
    font-family: 'Fira Sans';
    text-shadow: 3px 2px 4px snow;
}
.margin{
    text-align: center;
    margin-bottom: 20rem;
}
p{
    color: snow;
    font-size: 2.4rem;
    font-family: 'Fira Sans';
    grid-area: 2 / 2 / 3 /4;
    text-shadow: 4px 2px 4px #121212;
    font-weight: 800;
}
#about-img{
    height: 25rem;
    grid-area: 1 / 4 / 3 / 6;
    margin-left: 6rem;
    margin-top: 8rem;
    box-shadow: -2px 2px 14px black;
}

#resources{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
    width: 100%;
    height: 42rem;
    background-color: transparent;
    margin-bottom: 10rem;
}
.resource-img{
    width: 320px;
    height: 180px;
}
.resource-img:hover{
    margin: 0;
    width: 330px;
    height: 190px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 0.5rem 3rem black;
}
#footer{
    margin: auto;
    margin-top: 10rem;
    width: 86%;
    height :50rem;
}
#title{
    text-align: center;
    margin-top: 20rem;
}
#quoter{
    text-shadow: 3px 2px 4px #121212;
    color: snow;
    margin-left: 4rem;
}
#foot{
    width: 100%;
    height:6.4rem;
    background-color: rgba(214, 206, 206, 0.375);
    position:absolute;
    bottom:50;
    left: 0;
    text-align: center;
    font-size: 1.4rem;
}
.navlink{
    font-size: 2rem;
    text-decoration: none;
    color:snow;
}
.navlink:hover{
    font-size: 2.1rem;
    text-shadow: 1rem 0.5rem 1rem black;
}
#signup{
    width : 70%;
    margin: auto;
    margin-top: 20rem;
    text-align: center;
    margin-bottom: 5rem;
}
@media all and (max-width:1200px){
    .resource-img{
        width: 220px;
        height: 140px;
        margin: 0;
    }
    .resource-img:hover{
        width: 230px;
        height: 150px;
    }
}
@media all and (max-width:940px){
    .glow-on-hover{
        height : 48px;
        width: 230px;
    }
    .navlink{
        font-size : 1.8rem     
    }
    .navlink:hover{
        font-size: 2rem;
    }
    .resource-img:hover{
        width: 190px;
        height: 110px;
    }
    .resource-img{
        width: 180px;
        height: 100px;
        margin: 0;
    }
    h1{
        font-size: 3rem;
    }
    h2{
        font-size: 2.8rem;
        margin: 0;
    }
    p{
        font-size: 1.8rem;
        display: inline;
        margin-bottom: 20rem;
    }
    #about-img{
        height: 20rem;
        margin-top: 15rem;
    }
}
@media all and (max-width:860px){
    .glow-on-hover{
        height : 45px;
        width: 210px;
    }
    .navlink{
        font-size : 1.4rem     
    }
    .navlink:hover{
        font-size: 1.6rem;
    }
    .resource-img:hover{
        width: 170px;
        height: 110px;
    }
    h1{
        font-size: 2.4rem;
    }
    h2{
        font-size: 2.2rem;
    }
    p{
        font-size: 1.6rem;
    }
    #about-img{
        height: 18rem ;
    }
    .resource-img{
        width: 160px;
        height: 100px;
        margin: 0;
    }
}
@media all and (max-width:500px){
    .glow-on-hover{
        height : 41px;
        width: 190px;
    }
    #about-img{
        height:0;
    }
    .navlink{
        font-size : 1.4rem
    }
    .navlink:hover{
        font-size: 1.6rem;
    }
}
@media all and (max-width:375px){
    .glow-on-hover{
        height : 38px;
        width: 160px;
    }
    #logo{
        height: 0;
    }
    #nav-bar{
        background-color: transparent;
    }
    #title{
        margin-top: 20rem;
        margin-bottom: 20rem;
    }
    .navlink{
        font-size : 1.2rem
    }
    .navlink:hover{
        font-size: 1.4rem;
    }
}
